/* backgrounds by SVGBackgrounds.com */

/* Couleurs */
:root {
--coul1:#23222E;
/* bleu nuit */
--coul2:#6E2E2D;
/* rouge foncé */
--coul3:#C85A3B;
/* orange fonce */
--coul4:#DC8C52;
/* orange clair */
--coul5:#EAE8DD
/* creme */
}

var(--coul5);